<div class="container">
  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" (click)="displayDetails()">Display Details</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p *ngIf="detail">Secret Password = tuna</p>
    </div>
  </div>
  <div class="row" *ngFor="let log of logs; let i = index"
      [ngStyle]="{backgroundColor: (log > 4 ? 'blue' : '')}"
      [ngClass]="{white: log > 4}">
    <div class="col-md-12">
      {{log}} {{i}}
    </div>
  </div>
</div>
